KEYCLOAK_CLIENT=p2p-secret
KEYCLOAK_ISSUER=https://sso.teknix.dev/realms/teknix-auth
KEYCLOAK_REFRESH_TOKEN_URL=https://sso-dev.up.railway.app/v1/api/token/refresh-token
KEYCLOAK_X_API_KEY=c052ea66-3ada-4387-8b36-e0a5fd8a2a84