TEK_WALLET_API_KEY=6f3bb0c3-27ae-4c2b-8d67-8f86f40a3b0c
TEK_WALLET_AUTH_SECRET="YjmYadlBvxM46L1fXSoy3BsXJ+QzpmOUSHM8NAh5YsM="
TEK_WALLET_REFRESH_TOKEN_URL=https://sso-dev.up.railway.app/v1/api/token/refresh-token

NEXT_PUBLIC_TEK_WALLET_APP_SLUG=tbk
NEXT_PUBLIC_TEK_WALLET_SERVER_URL=https://gateway-fortune-vault-dev.up.railway.app/gw/v1/api/cw
NEXT_PUBLIC_TEK_WALLET_ABLY_API_KEY=r5hxqg.1FSQEQ:IKlwKpgU8-iH_HvWbf-jNd4x_ilae8swwjrYKzrPGNI